.bg-brand {
    background-color: #fafafa;
}

.header-text:hover {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.text-brand_light {
    color: #71728a;
}

.font-sm {
    font-size: 12px;
}

.line {
    height: 1px;
    /* width: 10px; */
    background-color: #dee2e6;
}