.bg-brand {
    background-color: #fafafa;
}
.body-text:hover {
    text-decoration: underline;
   
}

.cursor-pointer {
    cursor: pointer;
}

.text-brand_light {
    color: #71728a;
}

.font-sm {
    font-size: 12px;
}