* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

img:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
}

.cursor-pointer {
    cursor: pointer;
}


.line {
    height: 1px;
    /* width: 10px; */
    background-color: #dee2e6;
}

.bg-brand {
    background-color: #fafafa;
}
